@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play REST API</title>
  </head>

  <body>
    <h1>Play REST API</h1>
    <p>
      This RESTful API was created by Hadas and Tom as a project for our B.Sc. You can read about our project, see what features are available and more in our
      github <a href="https://github.com/ToMax446/Play--Task-manager">repository</a>.
    </p>

<p>
  You can always look at the API directly: <a href="/api/people">/api/people</a>
</p>

  </body>
</html>
